Package: me.qusic.taptapfolder
Name: TapTapFolder
Version: 0.3
Section: Tweaks
Description: Double tap action for folders
Installed-Size: 0
Architecture: iphoneos-arm
Tag: purpose::extension
Depends: firmware (>= 4.0), mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.2)
Author: Qusic <QusicS@Me.com>
Maintainer: Qusic <QusicS@Me.com>
Sponsor: Qusic <QusicS@Me.com>
dev: qusic
homepage: http://Qusic.me/TapTapFolder
